$black1: #2D3033;
$black2: #000000;
$black3: #252b49;
$white: #FFFFFF;
$white2:#E5E5E5;
$grey1: #BABBC5;
$grey2: #6C7279;
$grey3: #C6CBCD;
$grey4:#808080;
$grey5: #babbc500;
$grey6: #656980; 
$red1: #FF4343;
$red2: #e71414;
$red3: #ff4343cc;
$red4: #b90c0ccc;
$blue1: #2c3154;
$blue2: #353c65; 
$brown1: #5c3249;
$brown2:  #7E5D6F;

