.footer{
  background-color: $blue1;
  padding: 24px 0;
}
.footer-text{
  width: 370px;
  margin: auto;
  @include text7;
  font-family: Raleway;
font-style: normal;
font-weight: normal;
color: $grey4;
@media (max-width:324px){
  width: 95%;
  @include text8;
}
}

.copyright-text{
  margin: auto;
  display: block;
  &::after{
    content: "by Kamal Chaneman";
    color: $white;
  }
}